body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
}
body * {
  box-sizing: border-box;
  display: flex;
}
.temporary_container,
.wholeContainer {
  height: 100%;
  width: 100%;
  border: solid black 1px;
}
.modalTextContainer,
#distanceDisplay,
.introductionModal,
.sideContainer
{
  justify-content: center;
}
.introductionModal,
.formContainer,
.options,
.sideContainer {
  flex-direction: column;
}
.introductionModal,
.wholeContainer,
.formContainer,
.options,
.book .details,
.book .recipe,
.sideContainer
{
  text-align: center;
}
.destinations,
.select_hide {
  display: none;
}
#distanceDisplay,
#temperatureDisplay,
#massDisplay {
  margin: 20px auto;
  font-family: sans-serif;
}
/* css for modal */
.introductionModal {
  height: 50%;
  widtH: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  border: 1px solid black;
}
.triggerButton {
  background-color: salmon;
  cursor: pointer;
  margin: 50px auto;
  padding: 10px;
}

/* css for Andrew's container stuff */
.formContainer {
  position: relative;
  cursor: pointer;
  height: 97%;
  width: 50%;
  margin: 0 20px;
}
/*
.destinations points to original select-drop-down menu
.select-hide points to drop-down menu;
*/
.selectContainer {
  background-color: sandybrown;
  margin: 30px auto;
  padding: 20px;
}
.selectContainer:hover {
  background-color: rgb(220, 124, 6);
}
/* .options target the options container */
.options {
  height: 100%;
  overflow-y: scroll;
}
.option_divs {
  padding: 10px;
  border: 1px solid black;
  border-top: none;
  background-color: steelblue;
}
.option_divs:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sideContainer {
  width: 50%;
  height: 90%;
  justify-content: space-between;
  align-content: center;
}
.imageContainer {
  width: 100%;
  height: 50%;
  position: relative;
}
@keyframes imageAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sideImage {
  width: 100%;
  height: 100%;
  position: absolute;
  animation-name: imageAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.confirm_destination_button {
  display: inline-block;
  padding: 20px 40px;
  background-color: skyblue;
  opacity: 0.6;
}
.confirm_destination_button:hover {
  opacity: 1;
}

/* css for others */
#taco-container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
}

.taco-selection{
  height: 20%;
  width: 100%;
}
.taco-recipe{
  font-family: 'Lilita One', cursive;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 40%;
}
.book{
  position: relative;
  width: 80%;
  height: 100%;
  transform-style: preserve-3d;
  transform: perspective(2000px)
}

.book .cover{
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}

.cover-rotate{
  transform: rotateY(-135deg);
}

.cover > img{
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.book .details{
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./page-background.jpeg');
  background-size: cover;
  transform-origin: right;
  transition: 1s;
}

.details-rotate{
  transform: rotateY(135deg);
}

.book .recipe{
  overflow-y: scroll;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 20px;
  background-image: url('./recipe-background.jpeg');
}

/*rocket stuff below*/
.transportation_page_container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.transportation_title_container {
  width: 60%;
  height: 10%;
}
.transportation_title_container * {
  margin: auto;
}
.trainsportation_rocket_container {
  width: 50%;
  height: 45%;
}
.transportation_rocket_image_container {
  width: 80%;
}
.transportation_rocket_image_container2 {
  height: 90%;
  width: 60%;
}
.transportation_rocket_name_container {
  width: 20%;
}
.transportation_rocket_image_container > *, .transportation_rocket_image_container2 > * {
  width: 100%;
}
.transportation_rocket_text_container {
  width: 40%;
  height: 90%;
  flex-wrap: wrap;
}
.transportation_rocket_time_container {
  width: 100%;
  height: 80%;
}
.transportation_rocket_time_container * {
  flex-wrap: wrap;
}
.transportation_rocket_button_container {
  width: 100%;
  height: 20%;
}
.innerRocketInfoText {
  width: 100%;
  height: 50%;
}
.transportation_title_span {}
.rocket_name_span {}
/*rocket stuff above*/
